<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite">
    <test name="End to End and Security Tests">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.PurchaseTests"/>
            <class name="tests.CartTests"/>
            <class name="tests.UserFlowTests"/>
            <class name="tests.SecurityTests"/>
        </classes>
    </test>
</suite>